.mainBox:hover{
    background-color:#017358;
}
.items:hover{
  background-color: rgb(228, 222, 222);
}
.title:hover{
  background-color: #4e4b4b;
}
.title2:hover{
  background-color: #383636;
}
.playbutton:hover{
  background-color: rgb(58, 57, 57);
}
